body{
    display: grid;

}
button:hover {
    visibility: visible;
    width: 110px;
}
header {
    position: fixed;
    position: sticky;
    width: 100%;

}
img:hover{
    transform: scale(1.1);
}
#nav-container {
    margin: 0 auto;
    height: 70px;
    position: -webkit-sticky;
    position: sticky;
    top: 1px;
    z-index: 999;
  }
  
  .navigation {
    padding: 15px;
    background-color: white;
    height: 70px;
    text-align: center;
  }
  
  .navigation img {
    position: absolute;
    top: 0;
    left: 4%;
  }
  
  .navigation ul {
    margin: 0px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
  }
  
  .navigation li {
    list-style-type: none;
    padding: 15px;
    display: inline;
  }
  
  .navigation li a {
    color: black;
    font-size: 16px;
    text-decoration: none;
    line-height: 70px;
  }
  
  .navigation .act {
    color: #e1918a;
  }
  
  .search {
    width: 50%;
    position: absolute;
    margin-top: -70%;
    margin-left: 140%;
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
  }
  
  .searchTerm {
    float: left;
    width: 100%;
    border: 1px solid gray;
    padding: 15px;
    height: 0.9px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    color: #f2f2f2;
  }
  
  .searchTerm:focus {
    color: black;
  }
  
  .searchButton {
    position: absolute;
    top: 0px;
    right: -40px;
    width: 40px;
    height: 32px;
    border: 1px solid #f2f2f2;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: black;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
  }
  
  #nav-container {
    margin: 0 auto;
    height: 70px;
    position: -webkit-sticky;
    position: sticky;
    top: 1px;
    z-index: 999;
  }
  
  .navigation {
    padding: 15px;
    background-color: white;
    height: 70px;
    text-align: center;
  }
  
  .navigation img {
    position: absolute;
    top: 0;
    left: 4%;
  }
  
  .navigation ul {
    margin: 0px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
  }
  
  .navigation li {
    list-style-type: none;
    padding: 15px;
    display: inline;
  }
  
  .navigation li a {
    color: black;
    font-size: 16px;
    text-decoration: none;
    line-height: 70px;
  }
  
  .navigation .act {
    color: #e1918a;
  }
  
  .search {
    width: 50%;
    position: absolute;
    margin-top: -70%;
    margin-left: 140%;
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
  }
  
  .searchTerm {
    float: left;
    width: 100%;
    border: 1px solid gray;
    padding: 15px;
    height: 0.9px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    color: #f2f2f2;
  }
  
  .searchTerm:focus {
    color: black;
  }
  
  .searchButton {
    position: absolute;
    top: 0px;
    right: -40px;
    width: 40px;
    height: 32px;
    border: 1px solid #f2f2f2;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: black;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
  }

/*Making the portfolio images responsive for tablet*/
@media screen and (min-width:600px){
    .container_div{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 1px;
    }  
}
/*Making the portfolio images responsive for desktop*/
@media screen and (min-width:1200px){
    .container_div{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 1px;
    }  
}

.container_div img {
    transition: transform 800ms ease;
    width: 100%;
}
.image_box {
    overflow: hidden;
}
/* .container_div {
  height: 200px;
  width: 300px;
} */
.container_div img {
    height:150px;
    width: 379px;
}

.container{margin-top: 10px;
           display: block;
           background-color: black;
           height: 220px;
           overflow: hidden;
}

.carousel{
    height: 220px;
    width: 7888px;
    animation-name: slideshow;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    position: relative;
    left:1500px;
}
.carousel img{
    display: inline;
    height: 220px;
}

@keyframes slideshow {
    100% {
        position: relative;
        left: -6500px;
    }
}
.footer_Border{
    background-color:#e48e7e;
    height: 40px;
}

.footer_Border p{
    float: left;
}
#social_media{
    margin-left: 500px;
}

#social_media_icons li{
    float: left;
    margin-right: 15px;
    list-style: none;
}
li img{
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-left: 10px;
}
.code4ct_Contact_Information{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0px 90px;
}
.code4ct_Team_Images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2vw;
}
.backToTop{
    position: fixed;
    bottom: 25%;
    left: 25px;
    z-index: 99;
}

#back_to_top{
    position: absolute;
    width: 50px;
    height: 50px;
}

.dots {
    display: flex;
    justify-content: center;
}

.dots a {
    display: inline;
    text-decoration: none;
}
